body{
  background-color: #aab0b773;
}

.main{
  display: flex;
  justify-content: space-around;
}

.card{
  width: 50vw;
  border-style: ridge;
  border-radius: 2.5em;
  text-align: center;
  overflow: hidden;
}

.dayName{
  font-size: 100%;
}

.Temp{
  margin-top: 2%;
  font-size: 100%;
}

.dataView{
  display: flex; 
  justify-content: space-between;
}

.leftIcon{
  display: flex; 
  flex: 30%;
  flex-direction: column;
  justify-content: space-between;
}
.leftIcon div{
  font-size: 100%;
  margin: 0 5px;
}

.iconDiv{
  flex: 20%;
  max-width: 30%;
}
.iconDiv img{
  height: auto;
  width: 100%;
}

.rightIcon{
  display: flex; 
  flex: 30%;
  flex-direction: column; 
  justify-content: space-between;
}
.rightIcon div{
  font-size: 100%;
  margin: 0 5px;
}

.weekly{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  margin: 1em 0;
}

img{
  height: 100%;
  width: auto;
}

.dailyData{
  display: flex;
  font-size: 50%;
  flex-direction: column;
  width: 10%;
}
.dailyData img{
  width: 100%;
  height: auto;
}
.dailyData div{
  display: flex;
  flex-direction: column;
}
