.row{
    display: flex;
    max-width:auto;
    height: auto;
    margin-top: 1%;
}


/*Region Title */
.title-div{
    text-align: end;
    font-size: 70px;
    color: #5D40AEDF;
    flex: 50%;
}
.subtitle-div{
    font-size: 30px;
    color: #331c2d;
    text-align: end;
    max-width: 90%;
}
/* End region */



/* Region Menu */
.menu-div{
    flex: 30%;
}
.menu-title{
    list-style-type:none;
    text-align: center;
    padding-top: 2%;
}
.menu-title li{
    display: inline;
    padding: 10px;
}
/* End Region */




/* Region Github Icon */
.image-div{
    flex: 50%;
}
.github-div{
    display: block;
    align-items: center;
    height:200px; 
    width:200px;
}
.image-github{
    display: block;
    width: 100%;
    height: auto;
}


/* End Region */

