.row{
    display: flex;
    max-width:auto;
    height: auto;
    margin-top: 1%;
}


/*Region Title */
.title-div{
    width: 100%;
    text-align: center;
    font-size:70px;
    color: #5D40AEDF;
}
.rank-div{
    color: #331c2d;
    font-size:20px;
}
/* End region */


/* Region Github-LinkedIn  Icon */
.iconrow-div{
    justify-content: space-around;
}
.icon-div{
    height:150px; 
    width:150px;
    text-align: center;
}
.icon-size{
    display: block;
    width: auto;
    height: 100%;
}
.github-hover{
    opacity: 0;
    font-size: 12px;
}
.figma-hover{
    opacity: 0;
    font-size: 12px;
}
.linkedin-hover{
    opacity: 0;
    font-size: 12px;
    text-align: start;
}
.icon-div:hover div{
    opacity: 1;
}
/* End Region */


/* Region Education */
div#education-title{
    font-size: 50px;
    justify-content: center;
    color: #9436b3;
}
.education-information{
    width: 100%;
    text-align: center;
}
.education-information div{
    border-bottom: 1px solid;
    height: 100%;
}
/* End Region */



/* Region Experince */
div#experince-title{
    font-size: 50px;
    justify-content: center;
    color: #517ccc;
}
/* End Region */



