.row{
    display: flex;
    max-width:auto;
    height: auto;
    margin-top: 1%;
}


/*Region Title */
.title-div{
    padding-left: 15%;
    width: 100%;
    text-align: center;
    font-size:70px;
    color: #5D40AEDF;
}
.rank-div{
    color: #331c2d;
    font-size:20px;
}
/* End region */



/* Region Menu */
.menu-div{
    flex: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2%;
}
.menu-title{
    list-style-type:disc;
}
.menu-title li{
    display: block;
    float: left;
    padding-right:10px;
}
.menu-title li a{
    text-decoration:inherit;
    color:inherit;
}
#contact:active~div#row-icon{
    background-color: red;
}
#graduation:active{
    background-color: red;
}
#experience:active{
    background-color: red;
}
/* End Region */



/* Region Github-LinkedIn  Icon */
.iconrow-div{
    flex: 50%;
    display: flex;
    justify-content: center;
}
.icon-div{
    height:150px; 
    width:150px;
    text-align: center;
}
.icon-size{
    display: block;
    width: 100%;
    height: auto;
}
.github-hover{
    opacity: 0;
    font-size: 12px;
}
.linkedin-hover{
    opacity: 0;
    font-size: 12px;
    text-align: start;
}
.icon-div:hover div{
    opacity: 1;
}
/* End Region */


/* Region Education */
.education-div{
    justify-content:space-around;
}
/* End Region */



