.margin-auto{
    display: block;
    margin: auto;
}

.search-div{
    background-color:#EEEEEE;
    height: 75px;
    margin:3px 50px;
}

.menuMain-div{
    margin:auto 50px;
}
.left-div{
    background-color: #7EE5DA;
    width: 33%;
    height:auto;
    float: left;
    margin-right: 8px;
}
.mid-div{
    background-color: #70CCC2;
    width: 33%;
    float: left;
    margin-right: 8px;
}
.right-div{
    background-color: #62B3AA;
    width: 33%;
    height:auto;
    float: left;
}

